services:

  postgres:
    image: postgres:16-alpine
    container_name: sentinel-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: sentinel
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./collector-service/migrations:/docker-entrypoint-initdb.d

  collector:
    build: ./collector-service
    container_name: sentinel-collector
    depends_on:
      - postgres
    env_file:
      - .env

volumes:
  postgres_data:
